<ng-template [ngIf]="user">
    <div class="center pt-5">
        <img width="255" height="230" class="rounded-circle rounded mx-auto d-block" [src]="user.imageUrl" />
    </div>
    <div class="text-center pt-3">
        <h1><span class="badge badge-warning"><strong>{{user.firstName}} {{user.lastName}}</strong></span></h1>
        <span class="border-top border-bottom">{{user.email}}</span>
    </div>
    <ng-template [ngIf]="myVideos">
        <div class="text-center pt-4">
            <h2><span class="badge badge-primary"><strong>My videos</strong></span></h2>
        </div>
        <div class="row">
            <div class="col-lg-2" *ngFor="let video of myVideos">
                <app-video [video]="video"></app-video>
            </div>
        </div>
    </ng-template>
</ng-template>
