<h2><span class="badge badge-primary"><strong>News</strong></span></h2>
<div class="row">
  <div class="col-lg-2" *ngFor="let video of news">
      <app-video [video]="video"></app-video>
  </div>
</div>
<h2><span class="badge badge-primary"><strong>Music</strong></span></h2>
<div class="row">
  <div class="col-lg-2" *ngFor="let video of music">
      <app-video [video]="video"></app-video>
  </div>
</div>
<h2><span class="badge badge-primary"><strong>Sport</strong></span></h2>
<div class="row">
  <div class="col-lg-2" *ngFor="let video of sport">
      <app-video [video]="video"></app-video>
  </div>
</div>