<h3 class="text-center text-primary pt-5">Sign In</h3>
<hr class="w-50 hr-2" />
<form #form="ngForm" (submit)="signIn(form)" class="mx-auto w-50" method="">
    <div class="form-group">
        <label for="email" class="text-info">Email</label>
        <input name="email" pattern="[^@]+@[^\.]+\..+" type="email" class="form-control" id="email" placeholder="Email..." required ngModel>
    </div>
    <div class="alert alert-danger text-center" *ngIf="form.controls.email?.touched && form.controls.email?.errors?.required">
        Email is required!
    </div>
    <div class="alert alert-danger text-center" *ngIf="form.controls.email?.touched && form.controls.email?.errors?.pattern">
        Email is Invalid!
    </div>
    <div class="form-group">
        <label for="password" class="text-info">Password</label>
        <input name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" type="password" class="form-control" id="password" placeholder="Password..." required ngModel>
    </div>
    <div class="alert alert-danger text-center" *ngIf="form?.controls.password?.touched && form.controls.password?.errors?.required">
        Password is required!
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-info btn-md align-items-md text-white" [disabled]="form.invalid">Sign In</button>
    </div>
    <p>Don't have account yet? <a routerLink="/signup">Sign Up</a>.</p>
</form>